<header class="user__header">
    <div class="user__avatar">
        <img src="https://i.scdn.co/image/ab67757000003b8294e5e2d07dd7de8270eda83e" alt="avatar">
    </div>

    <a href="https://open.spotify.com/user/nesticle8bit" target="_blank" rel="noopener noreferrer"
        class="user__userName">
        <h1 class="user__name">🧙🏻&zwj;♂️ nesticle8bit</h1>
    </a>

    <div class="user__stats">
        <div class="user__stats--items">
            <div class="user__number">14</div>
            <p class="user__number--label">Followers</p>
        </div>
        
        <div class="user__stats--items">
            <div class="user__number">20</div>
            <p class="user__number--label">Following</p>
        </div>

        <div class="user__stats--items"><a href="/playlists">
                <div class="user__number">17</div>
                <p class="user__number--label">Playlists</p>
            </a>
        </div>
    </div>
    
    <a class="buttons">
        Logout
    </a>
</header>